*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    color: white;
}

body{
background-image: url('pexels-pixabay-235985.jpg');
background-size: cover;
}

img{
    width: 190px;
    height: 190px;
    border-radius: 50%;
}

h1{
    background-color: rgb(24, 23, 23);
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    margin: 1rem;
    font-size: 48px;
}
.choices{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.choice{
    width: 195px;
    height: 195px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 7px;
    margin: 13px;
  
}

.choice:hover{
    background-color: black;
}

.score-bord{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 35px;
    font-weight: bold;
}

.msg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;   
    flex-direction: column; 
}

#message {
    width: 300px;         
    height: 80px;         
    border-radius: 10px;  
    padding: 15px;        
    font-size: 28px;
    font-weight: 400;
    text-align: center;    
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;          
}
